[UNIT]
Description=Gunicorn server for DOMAIN

[Service]
Restart=on-failure
User=peter-ey
WorkingDirectory=/home/peter-ey/sites/www.staging.petersroom.co/books_for_study/tdd_with_python
EnvironmentFile=/home/peter-ey/sites/www.staging.petersroom.co/books_for_study/tdd_with_python/.env

ExecStart=/home/peter-ey/sites/www.staging.petersroom.co/books_for_study/tdd_with_python/venv/bin/gunicorn --bind unix:/tmp/DOMAIN.socket superlists.wsgi:application

[Install]
WantedBy=multi-user.target

